################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureWork/AzureWork.SharedLibraries/AzureWork.SharedLibraries.BlobStorage/obj
/AzureWork/AzureWork.SharedLibraries/AzureWork.SharedLibraries.BlobStorage/bin
/AzureWork/AzureWork.ConsoleApp/obj
/AzureWork/AzureWork.ConsoleApp/bin
/AzureWork/.vs/AzureWork/v16
/AzureWork/AzureWork.Local.NugetPckgs
/.vs
/AzureWork/AzureWork.SharedLibraries/AzureWork.SharedLibraries.BlobStorage/AzureWork.SharedLibraries.BlobStorage.csproj.user
/AzureWork/AzureWork.SharedLibraries/AzureWork.SharedLibraries.BlobStorage/Properties/PublishProfiles
